<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div>
        <form method="post" action="/authregister">
            {% csrf_token %}
            <div>
            <label>email:</label>
            <input type="email" name="authemail" required>
        </div>
        <div>
            <label>username:</label>
            <input type="text" name="authusername" required>
        </div>
        <div>
            <label>password:</label>
            <input type="text" name="authpassword" required>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>